/* GENERAL */
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* BANNER */
.banner {
    width: 100%;
    height: 20rem;
    background-color: black;
    color: white;
    display: flex;
}

.banner div {
    text-align: center;
    margin: auto;
}
div.letter {
    font-size: 120px;
    display: inline-block;
}
div.word {
    margin-bottom: auto;
    display: inline-block;
}
div.word p{
    margin: 0;
    font-size:5rem;
}

div.word input {
    width: 100%;
}

div.mother {
    width: 100%;
    display: flex;
}
div.mother div {
    border-radius: 0 0 12px 12px;
}
.ink {
    background-color: black;
}
.ink_01 {
    width: 1%;
    height: 5rem;
}
.ink_02 {
    width: 1%;
    height: 8rem;
}
.ink_03 {
    width: 1%;
    height: 10rem;
}
.ink_04 {
    width: 1%;
    height: 15rem;
}
.ink_05 {
    width: 1.3%;
    height: 18rem;
}
.ink_06 {
    width: 1%;
    height: 17rem;
}
.ink_07 {
    width: 1%;
    height: 20rem;
}
.ink_08 {
    width: 1%;
    height: 22rem;
}
.ink_09 {
    width: 1%;
    height: 24rem;
}
.ink_10 {
    width: 1%;
    height: 26rem;
}

/* SECTION CARDS */
.main{
    margin-top: 5%;
    margin-bottom: 5%;
}
.card{
    background-color: black;
    width: 200px;
    margin: 15px;
    height: 200px;
    display: inline-block;
}