/* GENERAL */
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* BANNER */
.banner {
    width: 100%;
    height: 20rem;
    background-color: black;
    color: white;
    display: flex;
}

.banner div {
    text-align: center;
    margin: auto;
}
div.letter {
    font-size: 120px;
    display: inline-block;
}
div.word {
    margin-bottom: auto;
    display: inline-block;
}
div.word p{
    margin: 0;
    font-size:5rem;
}

div.word input {
    width: 100%;
}
div.word input:focus {
    border: 3px dashed darkred;
    outline: 0;
    border-radius: 3px;
}


div.mother {
    width: 100%;
    display: flex;
}
div.mother div {
    border-radius: 0 0 12px 12px;
}
.ink {
    background-color: black;
}
.ink_01 {
    width: 1%;
    height: 5rem;
}
.ink_02 {
    width: 1%;
    height: 8rem;
}
.ink_03 {
    width: 1%;
    height: 10rem;
}
.ink_04 {
    width: 1%;
    height: 15rem;
}
.ink_05 {
    width: 1.3%;
    height: 18rem;
}
.ink_06 {
    width: 1%;
    height: 17rem;
}
.ink_07 {
    width: 1%;
    height: 20rem;
}
.ink_08 {
    width: 1%;
    height: 22rem;
}
.ink_09 {
    width: 1%;
    height: 24rem;
}
.ink_10 {
    width: 1%;
    height: 26rem;
}

/* SECTION CARDS */
.main{
    flex-wrap: nowrap;
    margin-top: 5%;
    margin-bottom: 5%;
}
.row{
    max-width:700px;
    margin:0 auto;
}
.card{
    background-color: black;
    width: 200px;
    margin: 15px;
    height: 200px;
    display: inline-block;
}

/* FOOTER */
footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 100px 0 0 0;
    background-color: black;
}
footer button{
    position: absolute;
    top: -10px;
    width: 40%;
    background-color: #eaeaea;
    font-weight: 900;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 0% 30% 0% 30%;
}
footer p{
    bottom: 0;
    text-align: center;
    color: white;
}
.ghost-footer{
    width: 100%;
    height: 200px;
}
@media only screen and (max-width: 960px){
    .card{
        margin: 30px;
    }
    .row{
        max-width:250px;
    }
}
